body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-right: 4%;
    padding-left: 3%;
}
.half-width img{
    padding-left: 10%;
    width: 100%;
}
.hire-me{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
}